
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Montserrat:700|Merriweather:400italic');


h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
	line-height:1.1em;
	color: #3a3a3a;
	font-weight:300;
	margin-bottom:10px;
}
h1, h3{
	font-weight: inherit;
}
h1, h3 {
	font-size: 34px;
}
h1 small {
	font-size: 24.5px;
}
h3{
	font-weight: inherit;
	text-align: center;
}
.grid {
	max-width: 75em;
	list-style: none;
	margin: 40px auto;
	padding: 0;
}
.grid li {
	display: block;
	float: left;
	padding: 7px;
	width: 33%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li a,
.grid li img {
    padding:0px;
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
    cursor:url(../img/cursor.png),pointer;
    background-color:#fff;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;    
}

.grid.effect li.animate {
	-webkit-transform: translateY(200px);
	-moz-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	-moz-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes moveUp {
	to { -moz-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	to { transform: translateY(0); opacity: 1; }
}

.grid li img:hover {
    opacity:0.2    
}


